---
layout: default
title: About
permalink: ab.html
---
<div class="page">
  <h1 class="page-title">About</h1>
  <p class="lead"> SHORT SEMBLANCE<br/>
<p align="justify">
I received the Computer Engineering BSc degree in 2013, the Electrical Egineering (Instrumentation) MSc degree in 2015, and the PhD Degree in 2019. 
All degrees are from Universidad Nacional Autónoma de México. 
<br/>
<p align="justify">
In 2013 I became a professor assistant up to 2015 at Facultad de Ingeniería, UNAM. Afterward, I became a part-time lecturer at FI, position that I currently hold.
 The given lectures are about electric and electronics topics as well as applied sciences.
<br/>
<p align="justify">
During 2019, I held a Posdoctoral Researcher position at Instituto de Ingeniería, UNAM.<br/>
<p align="justify">
Since 2020, I am an Associate Professor at Electromechanics Department of Instituto de Ingeniería, UNAM.<br/>
<p align="justify">
My research interests are focused on:<br/>
<ul style="list-style-type:circle;">
    <li>Instrumentation and sensors</li>
    <li>Electrochemistry</li>
    <li>System Identification and Signal Processing</li>
    <li>Point of Care Devices</li>
    <li>Automatic Control and Decision</li>
</ul>
	
</div>

<!-- <div class="posts"> -->
  <!-- {% for post in paginator.posts %} -->
  <!-- <div class="post"> -->
    <!-- <h1 class="post-title"> -->
      <!-- <a href="{{ post.url }}"> -->
        <!-- {{ post.title }} -->
      <!-- </a> -->
    <!-- </h1> -->

    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->

    <!-- {{ post.content }} -->
  <!-- </div> -->
  <!-- {% endfor %} -->
<!-- </div> -->

<!-- <div class="pagination"> -->
  <!-- {% if paginator.next_page %} -->
    <!-- <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a> -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item older">Older</span> -->
  <!-- {% endif %} -->
  <!-- {% if paginator.previous_page %} -->
    <!-- {% if paginator.page == 2 %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a> -->
    <!-- {% else %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a> -->
    <!-- {% endif %} -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item newer">Newer</span> -->
  <!-- {% endif %} -->
<!-- </div> -->