---
layout: default
title: Fundamentos de Sistemas Embebidos
permalink: fse.html
---
<div class="page">
  <h1 class="page-title">Fundamentos de Sistemas Embebidos</h1>

<p class="lead"> <b> - PRESENTACIONES<br/>
<ul style="list-style-type:circle;">
    <li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/Clase1_Presentacion.pdf">Syllabus</a></li>
	<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/Introduccion.pdf">Introducción</a></li>
	
</ul>
<p class="lead"> <b>  - TAREAS, PRÁCTICAS Y EXÁMENES<br/>
<p class="h3">  TAREAS<br/>
<ul style="list-style-type:circle;">
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/T2_FSE.pdf">Tarea 2</a></li>
</ul>

<p class="h3">  PRÁCTICAS RASPBERRY Pi<br/>
<ul style="list-style-type:circle;">
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/P1_FSE.pdf">Práctica 1</a></li>
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/code_P1_FSE.tar.gz">Código Práctica 1</a></li>
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/P2_FSE.pdf">Práctica 2</a></li>
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/code_P2_FSE.tar.gz">Código Práctica 2</a></li>
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/Makefile.txt">Archivo Makefile</a></li>
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/P3_FSE.pdf">Práctica 3</a></li>
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/P3_FSE.tar.gz">Código Práctica 3</a></li>
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/P4_FSE.pdf">Práctica 4</a></li>
</ul>

<p class="h3">  PRÁCTICAS ESP32<br/>
<ul style="list-style-type:circle;">
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/P1_FSE_esp32.pdf">Práctica 1 ESP32</a></li>
</ul>

<p class="lead"> <b> - OTROS RECURSOS<br/>
<ul style="list-style-type:circle;">
	<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/Xtensa_lx Overview handbook.pdf">Xtensa_lx Handbook</a></li>		
	<li> <a class="sidebar-nav-item" href="{{ base }}/docs_fse/esp32_technical_reference_manual_en.pdf">ESP32 Technical Reference Manual</a></li>		
	</ul>
</div>

<!-- <div class="posts"> -->
  <!-- {% for post in paginator.posts %} -->
  <!-- <div class="post"> -->
    <!-- <h1 class="post-title"> -->
      <!-- <a href="{{ post.url }}"> -->
        <!-- {{ post.title }} -->
      <!-- </a> -->
    <!-- </h1> -->

    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->

    <!-- {{ post.content }} -->
  <!-- </div> -->
  <!-- {% endfor %} -->
<!-- </div> -->

<!-- <div class="pagination"> -->
  <!-- {% if paginator.next_page %} -->
    <!-- <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a> -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item older">Older</span> -->
  <!-- {% endif %} -->
  <!-- {% if paginator.previous_page %} -->
    <!-- {% if paginator.page == 2 %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a> -->
    <!-- {% else %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a> -->
    <!-- {% endif %} -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item newer">Newer</span> -->
  <!-- {% endif %} -->
<!-- </div> -->