---
layout: default
title: Instrumentación Científica
permalink: ic.html
---
<div class="page">
  <h1 class="page-title">Instrumentación Científica</h1>

<p class="lead"> PRESENTACIONES<br/>
<ul style="list-style-type:circle;">
    <li> <a class="sidebar-nav-item" href="{{ base }}/docs_ic/Temario_2020-2.pdf">Temario</a></li>
    <!-- <li><a class="sidebar-nav-item" href="{{ base }}/docs_ic/Signal_conditioning.pdf">Acondicionamiento de señales</a></li> -->
</ul>
<p class="lead"> TAREAS Y PRÁCTICAS <br/>
<ul style="list-style-type:circle;">
    <!-- <li><a class="sidebar-nav-item" href="{{ base }}/docs_ic/Tarea_1.pdf">Tarea 1</a></li> -->
	<!-- <li><a class="sidebar-nav-item" href="{{ base }}/docs_ic/Tarea_2.pdf">Tarea 2</a></li> -->
</ul>
<p class="lead"> OTROS RECURSOS<br/>
<ul style="list-style-type:circle;">
	<li> <a class="sidebar-nav-item" href="https://www.cypress.com/products/psoc-creator-integrated-design-environment-ide">Descarga PSoC Creator</a></li> 
	<p> Click en la pestaña "Download". ** Es necesario crear una cuenta para que Cypress permita la descarga.
	<!-- <li> <a class="sidebar-nav-item" href="{{ base }}/docs_ic/understanding-and-eliminating-1-f-noise.pdf">Application Note Noise 1/f</a></li>		 -->
</ul>
</div>

<!-- <div class="posts"> -->
  <!-- {% for post in paginator.posts %} -->
  <!-- <div class="post"> -->
    <!-- <h1 class="post-title"> -->
      <!-- <a href="{{ post.url }}"> -->
        <!-- {{ post.title }} -->
      <!-- </a> -->
    <!-- </h1> -->

    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->

    <!-- {{ post.content }} -->
  <!-- </div> -->
  <!-- {% endfor %} -->
<!-- </div> -->

<!-- <div class="pagination"> -->
  <!-- {% if paginator.next_page %} -->
    <!-- <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a> -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item older">Older</span> -->
  <!-- {% endif %} -->
  <!-- {% if paginator.previous_page %} -->
    <!-- {% if paginator.page == 2 %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a> -->
    <!-- {% else %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a> -->
    <!-- {% endif %} -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item newer">Newer</span> -->
  <!-- {% endif %} -->
<!-- </div> -->