---
layout: default
title: Teoría de la medición
permalink: med.html
---
<div class="page">
  <h1 class="page-title">Teoría de la medición</h1>

<p class="lead"> PRESENTACIONES<br/>
<ul style="list-style-type:circle;">
<li><a class="sidebar-nav-item" href="{{ base }}/docs_med/Estimacion.pdf">Presentación 1 - Estimación</a></li> 
<li><a class="sidebar-nav-item" href="{{ base }}/docs_med/Caracterizacion_Dinamica.pdf">Presentación 2 - Caracterización Dinámica</a></li> 
</ul>
<p class="lead"> TAREAS Y PRÁCTICAS <br/>
<ul style="list-style-type:circle;">
  <li><a class="sidebar-nav-item" href="{{ base }}/docs_med/P2_Frecuencia.pdf">Ejercicios FFT</a></li>   
</ul>
<p class="lead"> OTROS RECURSOS<br/>
<ul style="list-style-type:circle;">
<li><a class="sidebar-nav-item" href="{{ base }}/docs_med/spectral_analysis.zip">Código FFT</a></li>   
<li><a class="sidebar-nav-item" href="{{ base }}/docs_med/Matlab_DAQ.zip">Adquisición de datos con MATLAB</a></li>   
	<!-- <li> <a class="sidebar-nav-item" href="{{ base }}/docs_ic/rsi_ADC_Characterization.pdf">Artículo Caracterización de Ruido</a></li> -->
	<!-- <li> <a class="sidebar-nav-item" href="{{ base }}/docs_ic/understanding-and-eliminating-1-f-noise.pdf">Application Note Noise 1/f</a></li>		 -->
</ul>
</div>

<!-- <div class="posts"> -->
  <!-- {% for post in paginator.posts %} -->
  <!-- <div class="post"> -->
    <!-- <h1 class="post-title"> -->
      <!-- <a href="{{ post.url }}"> -->
        <!-- {{ post.title }} -->
      <!-- </a> -->
    <!-- </h1> -->

    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->

    <!-- {{ post.content }} -->
  <!-- </div> -->
  <!-- {% endfor %} -->
<!-- </div> -->

<!-- <div class="pagination"> -->
  <!-- {% if paginator.next_page %} -->
    <!-- <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a> -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item older">Older</span> -->
  <!-- {% endif %} -->
  <!-- {% if paginator.previous_page %} -->
    <!-- {% if paginator.page == 2 %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a> -->
    <!-- {% else %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a> -->
    <!-- {% endif %} -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item newer">Newer</span> -->
  <!-- {% endif %} -->
<!-- </div> -->