---
layout: default
title: Medición e Instrumentación
permalink: mei.html
---
<div class="page">
  <h1 class="page-title">Medición e Instrumentación</h1>

<p class="lead"> PRESENTACIONES<br/>
<ul style="list-style-type:circle;">
    <li> <a class="sidebar-nav-item" href="{{ base }}/docs_mei/syllabus_template_MeI.pdf">Syllabus</a></li>
    <li><a class="sidebar-nav-item" href="{{ base }}/docs_mei/Conceptos_Medicion_Instrumentacion.pdf">Presentación 1 - Conceptos de Medicion e Instrumentacion</a></li>
	<li><a class="sidebar-nav-item" href="{{ base }}/docs_mei/Tutorial_Error_Aleatorio.pdf">Notas sobre error aleatorio y Práctica 1 </a></li>
	<li><a class="sidebar-nav-item" href="{{ base }}/docs_mei/Estimacion.pdf">Presentación 2 - Estimación</a></li>  
	<!-- <li><a class="sidebar-nav-item" href="{{ base }}/docs_mei/Intro_ARDUINO.pdf">Presentación 3 - Introducción ARDUINO</a></li>  -->
	<li><a class="sidebar-nav-item" href="{{ base }}/docs_mei/Caracterizacion_Dinamica.pdf">Presentación 3 - Caracterización Dinamica</a></li> 
	<li><a class="sidebar-nav-item" href="{{ base }}/docs_mei/Ruido.pdf">Presentación 5 - Ruido</a></li> 
    <li><a class="sidebar-nav-item" href="{{ base }}/docs_mei/Sensores_Resistivos.pdf">Presentación 6 - Sensores Resistivos</a></li> 
	<li><a class="sidebar-nav-item" href="{{ base }}/docs_mei/Sensor_RTD.pdf">Presentación 7 - Sensor de temperatura RTD</a></li> 
	<li><a class="sidebar-nav-item" href="{{ base }}/docs_mei/Amplificadores.pdf">Presentación 8 - Amplificación de señales</a></li> 
	<li><a class="sidebar-nav-item" href="{{ base }}/docs_mei/Filtros.pdf">Presentación 9 - Filtros</a></li> 
	
</ul>
<p class="lead"> TAREAS, PRÁCTICAS Y EXÁMENES<br/>
<ul style="list-style-type:circle;">
	<li> <a class="sidebar-nav-item" href="https://github.com/rgunam/MeI_UNAM/wiki">Tutoriales en Línea para simulación de conceptos en MATLAB</a></li>	
	<!-- <li> <a class="sidebar-nav-item" href="{{ base }}/docs_mei/P1_MeI.pdf">Práctica 1</a></li>	  -->
	<!-- <li> <a class="sidebar-nav-item" href="{{ base }}/docs_mei/1erParcial_MeI.pdf">PRIMER EXAMEN PARCIAL</a></li>  -->
</ul>
<p class="lead"> OTROS RECURSOS<br/>
<ul style="list-style-type:circle;">
	<li> <a class="sidebar-nav-item" href="{{ base }}/docs_mei/Libro1.pdf">Libro Introducción a la Metodología Experimental (G. Aranzeta).</a></li>	
	<li> <a class="sidebar-nav-item" href="{{ base }}/docs_mei/error_aleatorio_Normal.m">Código Práctica 1 - Error aleatorio con distribución normal </a></li> 
	<!-- <li> <a class="sidebar-nav-item" href="{{ base }}/docs_mei/pyaudio_python.docx">Guía instalación Pyaudio</a></li> -->
	<!-- <li> <a class="sidebar-nav-item" href="{{ base }}/docs_mei/adc_un_canal_prog_arduino.ino">Programa de Arduino para leer un canal analógico y enviar el dato por el puerto UART.</a></li> -->
	<!-- <li> <a class="sidebar-nav-item" href="{{ base }}/docs_mei/adc_arduino.m">Programa de MATLAB para recibir los datos que envía el Arduino y graficarlos.</a></li>		 -->
</ul>
</div>

<!-- <div class="posts"> -->
  <!-- {% for post in paginator.posts %} -->
  <!-- <div class="post"> -->
    <!-- <h1 class="post-title"> -->
      <!-- <a href="{{ post.url }}"> -->
        <!-- {{ post.title }} -->
      <!-- </a> -->
    <!-- </h1> -->

    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->

    <!-- {{ post.content }} -->
  <!-- </div> -->
  <!-- {% endfor %} -->
<!-- </div> -->

<!-- <div class="pagination"> -->
  <!-- {% if paginator.next_page %} -->
    <!-- <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a> -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item older">Older</span> -->
  <!-- {% endif %} -->
  <!-- {% if paginator.previous_page %} -->
    <!-- {% if paginator.page == 2 %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a> -->
    <!-- {% else %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a> -->
    <!-- {% endif %} -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item newer">Newer</span> -->
  <!-- {% endif %} -->
<!-- </div> -->