---
layout: default
title: Medición e Instrumentación
permalink: mei.html
---
<!-- <div class="page"> -->
  <!-- <h1 class="page-title">Medición e Instrumentación</h1> -->
  <!-- <p class="lead"> Syllabus<br/> -->

	<!-- </p> -->
<!-- </div> -->

<div class="posts">

  <div class="post">
    <h1 class="Syllabus">
      <a href="{{ 2019-01-28-syll_mei.md }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
</div>

<!-- <div class="pagination"> -->
  <!-- {% if paginator.next_page %} -->
    <!-- <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a> -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item older">Older</span> -->
  <!-- {% endif %} -->
  <!-- {% if paginator.previous_page %} -->
    <!-- {% if paginator.page == 2 %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a> -->
    <!-- {% else %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a> -->
    <!-- {% endif %} -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item newer">Newer</span> -->
  <!-- {% endif %} -->
<!-- </div> -->