---
layout: default
title: Research
permalink: research.html
---
<div class="page">
  <h1 class="page-title">Projects</h1>
  <p class="lead"> Research <br/>

<ul style="list-style-type:circle;">
	<li>Análisis automático de señales fotoacústicas para aplicaciones biomédica: Un enfoque de sistemas dinámicos (TA101423). Responsable: R.G. Ramírez Chavarría. Patrocinador: DGAPA-
	UNAM-PAPIIT. Duración 2 años (01/2023-12/2024). Monto 1er año: $ 198,760.00</a>
	</li>
	<li>MP-Sense: Sensor multiparamétrico para detección del genoma de SARS-CoV-2 en aguas residuales. Responsable UNAM: R.G. Ramírez Chavarría, Responsable ITESM: R. Parra-
Saldívar. Patrocinador: Consorcio UNAM-Tec / Modalidad 2 Nuevos Binomios. Duración 6 meses (12/09/2022-13/03/2023). Monto: $ 500,000.00.
	</li>
	<li>Apta 12M: Biosensor basado en aptámeros para la detección en campo y continua de microorganismos patógenos en agua. Responsable UNAM: R.G. Ramírez Chavarría, Responsable
ITESM: A. de Obseso Fernández del Valle. Patrocinador: Consorcio UNAM-Tec / Modalidad 2 Nuevos Binomios. Duración 6 meses (12/09/2022-13/03/2023). Monto: $ 500,000.00.
	</li>
     <li>Estudio y desarrollo de microsistemas inteligentes de biosensores electroquímicos (TA100221).
Responsable: R.G. Ramírez Chavarría. Patrocinador: DGAPA-UNAM-PAPIIT. Duración 2 años (01/2021-12/2022). Monto: $ 367,551.00.
	</li>
	<li>Diseño, modelado y construcción de sensores biológicos para sistemas microdispositivos electromecánicos. Responsable: R.G. Ramírez Chavarría. Patrocinador: Instituto de Ingeniería,
UNAM. Duración 1 año (01/2020-12/2020). Monto: $ 60,00.00.
	</li>
	</ul>
	</p>
</div>

 <p class="lead"> Teaching-Learning <br/>

<ul style="list-style-type:circle;">
	<li> La adquisición de datos como herramienta básica en el modelo mixto de enseñanza-aprendizaje
	de Instrumentación y Control: Parte 2 - Aplicaciones (PE100523). Responsable: R.G. Ramírez
	Chavarría. Patrocinador: DGAPA-UNAM-PAPIME. Duración 1año (01/2023-12/2023). Monto:$ 174,826.</li>
	<li> La adquisición de datos como herramienta básica en el modelo mixto de enseñanza-aprendizaje
de Instrumentación y Control (PE101222). Responsable: R.G. Ramírez Chavarría. Patroci-
nador: DGAPA-UNAM-PAPIME. Duración 1 año (01/2022-12/2022). Monto: $ 141,019.00.
	</li>
	</ul>
	</p>
</div>

<!-- <div class="posts"> -->
  <!-- {% for post in paginator.posts %} -->
  <!-- <div class="post"> -->
    <!-- <h1 class="post-title"> -->
      <!-- <a href="{{ post.url }}"> -->
        <!-- {{ post.title }} -->
      <!-- </a> -->
    <!-- </h1> -->

    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->

    <!-- {{ post.content }} -->
  <!-- </div> -->
  <!-- {% endfor %} -->
<!-- </div> -->

<!-- <div class="pagination"> -->
  <!-- {% if paginator.next_page %} -->
    <!-- <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a> -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item older">Older</span> -->
  <!-- {% endif %} -->
  <!-- {% if paginator.previous_page %} -->
    <!-- {% if paginator.page == 2 %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a> -->
    <!-- {% else %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a> -->
    <!-- {% endif %} -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item newer">Newer</span> -->
  <!-- {% endif %} -->
<!-- </div> -->