---
layout: default
title: Research
permalink: research.html
---
<div class="page">
  <h1 class="page-title">Research</h1>
  <p class="lead"> Publications <br/>

<ul style="list-style-type:circle;">
<li> R.G. Ramírez-Chavarría, M.I Müller, R. Mattila, G. Quintana-Carapia, C. Sánchez-Pérez,
	A framework for high-resolution frequency response measurement and parameter estimation in microscale impedance applications, 
	Measurement, Volume 148, 10693, 2018.  <a href="https://doi.org/10.1016/j.measurement.2019.106913">doi.org/10.1016/j.measurement.2019.106913.</a>
	</li>
	<li> R.G. Ramírez-Chavarría and C. Sánchez-Pérez, Sensing Micro-colloid Concentration by Spectral Impedance Measurements and Relaxation Times Analysis,
	2019 IEEE Sensors Applications Symposium (SAS), Sophia Antipolis, France, 2019.
	<a href="https://arxiv.org/pdf/1903.07194.pdf">doi: 10.1109/SAS.2019.8706080</a>
	<li> R.G. Ramírez-Chavarría, G. Quintana-Carapia, M.I Müller, R. Mattila, D. Matatagui, C. Sánchez-Pérez,
	Bioimpedance Parameter Estimation using Fast Spectral Measurements and Regularization, 
	IFAC-PapersOnLine, Volume 51, Issue 15, 2018.  <a href="https://doi.org/10.1016/j.ifacol.2018.09.198">doi.org/10.1016/j.ifacol.2018.09.198.</a>
	</li>
    <li> R.G. Ramírez-Chavarría, C. Sánchez-Pérez, D. Matatagui, N. Qureshi, A. Pérez-García, J. Hernández-Ruíz,
Ex-vivo biological tissue differentiation by the Distribution of Relaxation Times method applied to Electrical Impedance Spectroscopy,
Electrochimica Acta, Volume 276, 2018. <a href="https://doi.org/10.1016/j.electacta.2018.04.167">doi.org/10.1016/j.electacta.2018.04.167.</a>
	</li>
		<li>
	R.G. Ramírez-Chavarría, C. Sánchez-Pérez, and D. Matatagui,
	Analysis of Impedance Spectroscopy Measurements of Biological Tissue using the Distribution of Relaxation Times Method,
	In Proceedings of the 10th International Joint Conference on Biomedical Engineering Systems and Technologies - Volume 1: BIODEVICES, (BIOSTEC 2017), 2017,
	<a href="https://10.5220/0006253902240228">DOI: 10.5220/0006253902240228.</a>
	</li>
	</ul>
	</p>
</div>

<!-- <div class="posts"> -->
  <!-- {% for post in paginator.posts %} -->
  <!-- <div class="post"> -->
    <!-- <h1 class="post-title"> -->
      <!-- <a href="{{ post.url }}"> -->
        <!-- {{ post.title }} -->
      <!-- </a> -->
    <!-- </h1> -->

    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->

    <!-- {{ post.content }} -->
  <!-- </div> -->
  <!-- {% endfor %} -->
<!-- </div> -->

<!-- <div class="pagination"> -->
  <!-- {% if paginator.next_page %} -->
    <!-- <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a> -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item older">Older</span> -->
  <!-- {% endif %} -->
  <!-- {% if paginator.previous_page %} -->
    <!-- {% if paginator.page == 2 %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a> -->
    <!-- {% else %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a> -->
    <!-- {% endif %} -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item newer">Newer</span> -->
  <!-- {% endif %} -->
<!-- </div> -->