---
layout: default
title: Diseño Digital VLSI
permalink: vlsi.html
---
<div class="page">
  <h1 class="page-title">Diseño Digital VLSI</h1>

<p class="lead"> PRESENTACIONES<br/>
<ul style="list-style-type:circle;">
    <li> <a class="sidebar-nav-item" href="{{ base }}/docs_vlsi/Clase1_Presentacion.pdf">Syllabus</a></li>

	
</ul>
<p class="lead"> TAREAS, PRÁCTICAS Y EXÁMENES<br/>
<ul style="list-style-type:circle;">
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_vlsi/cont8b.vhd">Código Práctica 1: Contador 8 bits</a></li>
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_vlsi/P2_VLSI.pdf">Práctica 2: Registros de corrimiento</a></li>	
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_vlsi/P4_VLSI.pdf">Práctica 4: Cartas ASM</a></li>
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_vlsi/UART.vhd">Código Práctica UART</a></li>
</ul>
<p class="lead"> OTROS RECURSOS<br/>
<ul style="list-style-type:circle;">
<li> <a class="sidebar-nav-item" href="https://www.youtube.com/watch?v=VMEIPCjqinA">Tutorial Instalación ISE 14.7</a></li>
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_vlsi/ucf_spartan6.txt">Conexiones tarjeta Spartan 6</a></li>
<li> <a class="sidebar-nav-item" href="{{ base }}/docs_vlsi/mojo-loader-1.3.0.exe">Software para cargar progama tarjeta MOJO</a></li>

			
</ul>
</div>

<!-- <div class="posts"> -->
  <!-- {% for post in paginator.posts %} -->
  <!-- <div class="post"> -->
    <!-- <h1 class="post-title"> -->
      <!-- <a href="{{ post.url }}"> -->
        <!-- {{ post.title }} -->
      <!-- </a> -->
    <!-- </h1> -->

    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->

    <!-- {{ post.content }} -->
  <!-- </div> -->
  <!-- {% endfor %} -->
<!-- </div> -->

<!-- <div class="pagination"> -->
  <!-- {% if paginator.next_page %} -->
    <!-- <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a> -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item older">Older</span> -->
  <!-- {% endif %} -->
  <!-- {% if paginator.previous_page %} -->
    <!-- {% if paginator.page == 2 %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a> -->
    <!-- {% else %} -->
      <!-- <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a> -->
    <!-- {% endif %} -->
  <!-- {% else %} -->
    <!-- <span class="pagination-item newer">Newer</span> -->
  <!-- {% endif %} -->
<!-- </div> -->